    *{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/* box 2 */


.add-first{
    font-size: 0.75rem;
    color: #cccccc;
    margin-left: 25px;
}
.add-second{
    font-size: 0.875rem;
    color: white;
    margin-left: 4px;
}
.add-icon{

    display: flex;
    align-items: center;
}
.nav-search{
    
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;

}


.nav-search:hover{
    border: 2px solid #febd68;

}

.search-select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68 ;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
color: #0f1111;
    
}

.nav-first{
    font-size: 0.75;
}
.nav-second{
    font-size: 0.875;
    font-weight: 700;
}

.nav-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-cart i{
    width: 35px;
    height: 40px;
    font-size: 2rem;
}

.cart-text{
    font-size: 1rem;
    text-align: end;
    font-weight: 700;
}

.pannel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.pannel p{
    display: inline;
    margin-left: 15px;

}
.pannel-opts{
    width: 70%;
        font-size: 0.875;
}


.pannel-deals{
    font-size: 0.92;
    font-weight: 700;

}

.hero-section{
    height: 350px;
    display: flex;
    background-image: url("amazon_slider.jpg");
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    font-size: 0.875rem;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 25px;
}
.hero-message a{

    color: #007185;
    text-decoration: none;
}



.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box{
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: #fff;
    padding: 20px 0px 15px ;
    margin-top: 15px;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-img{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}

footer{
    margin-top: 15px;

}
.foot-pannel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.foot-pannel2{
    background-color:#222f3d ;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-pannel3{
    background-color: #222f3d;
    border: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100px;
}