body{
    width: 100%;
    height: 100%;
}

.container{
height: 100%;
width: 100%;
background-color: rgb(69,62,62);
display: grid;
grid-template-columns: repeat(1,200px);
grid-template-rows: repeat(4,200px);
gap : 0.4rem;
padding: 4rem;

}
.item{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 5px solid white;
}