/* p{
    text-align: start;
    text-decoration: underline overline red dotted;
} */

#id1{
    /* font-weight: normal; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;

    font-size: 30px;
}
#id2{
    /* font-weight: lighter; */
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase;
}
#id3{
    /* font-weight: bold; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#id4{
    /* font-weight: bolder; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
*{
    font-family:'Times New Roman', Times, serif;
}

#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}