#box1{
    background-color: red;
    color: white;
    width: 200px;
    height: 200px;
    font-size: 10px;
    /* width: 100vw;
    height: 500vh; */
    display: none;
}

#box2{
    background-color: blue;
    color: white;
    width: 50%;
    height: 50%;    /* 50 % of parents height its relative to parent*/
    
    /* em is relative to aprents font-size 1em means equal to font-size */
    font-size: 2em;
    /* em doesnot always depends on parent sometime it depends upon itself like in width if you write em it means widt of current element not the parente */
    width: 5rem;
    /* if you want to use the font-size of root element i.e html tag you can use rem (root em) */
    /* font-size: 5rem; */
    display: none;




}

div{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: aqua;
    display: inline-block;
}
#b1{
    position: static;
    top: 50px; /* wont work for static whihc is default*/
}


/* relative means element move relative to its position if you add top 5 px it takes it current top and move 5 px noy from start of pages same goes for other properties like z-index,top,left,right */
#b2{

    position: relative;
    top :10px;

}

/* 
absolute means psoitioned relative to closest positioned ancestor (non-static ancestor ) which in our case is body tag(which is not neccessary in all cases ) so when setting absolute it will be removed from flow and will act according to document here top:10px means 10 px from top of window
 */

 /* 
 sticky means elements became fixed when placed on right placed on scrolllinbg see it in action */

 #b3{
    /* position: absolute; */
position: sticky;
    top:200px;
    left: 30px;
 }

 /* 
 fixed means it will be removed from flow and psotion relative toflow in absolute its not neccsary that closes positioned ancestor is our borwser but some time it can happend but in fixed its always the case
 fixed position doesnot chage on scroll and useful in creating navbars and footers
  */

  #b4{
    position: fixed;
    bottom: 10px;
  }


  div {
      width: 100px;
      height: 100px;
      display: inline-block;
  }

  * {
      color: white;
  }

  #b1 {
      position: relative;
      background-color: red;
      left: 20px;
      z-index: 4;
  }

  #b2 {
      position: relative;
      z-index: 3;
      background-color: green;
  }

  #b3 {
      background-color: black;
  }

  #b4 {
      background-color: blue;
  }

  /*
background size can have three valies auto contain and cover 
cover means occupy full backrground
auto geneally is by defaukt it depends upon picture size if its alreay in sizee good other wise it will pixelated
contains generally repeat the image n time to cover size
contains prioritize showing full image whie cover prioritize covering full size 
 */
  body {
      background-image: url("image.png");
      background-size: cover;
  }